@import 'variables';

// Text manip

.text-muted {
  color: var(--text-muted);
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-responsive-wrapper {
  overflow-x: auto;
}

.text-italic {
  font-style: italic;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-success, .text-green {
  color: $green;
}

.text-danger, .text-red {
  color: $red;
}